<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div id="app">
		<header class="header">

			

		</header>
		<section class="container">
			<section class="container__content">

				Digite um nome:
				<input v-model="nomeInput" /><span>{{aviso}}</span>

				<div v-if="nomePronto">
					<button @click="add">Adicionar</button>
				</div>

			</section>
			<aside class="container__sidebar">

				<ul>
					<li v-for="item in lista">{{item}}</li>
				</ul>

				{{totalTexto}}
				
			</aside>
		</section>
		<footer class="footer">

			

		</footer>
	</div>

	<script src="script.js"></script>
</body>
</html>