<html>
<head>
	<title>Título qualquer</title>
</head>
<body>
	<h1>Oi estudo mustache?</h1>

	Texto qualquer aleatório... Mais texto!
	Fala, {{user}} <br>
	Opa, {{dirack.name}}, tu tem {{dirack.age}} anos?<br>
	O {{fulano.name}} é velho, tem {{fulano.age}} anos...
</body>
</html>
