* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: red;
    height: 50px;
}

.controls{
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    align-items: center;
}

.slider{
    background-color: grey;
    width: 100vw;
    flex: 1;
    display: flex;
    transition: all ease 0.3s;
}

.slider--width{
    display: flex;
    width: 100vw;
    flex: 1;
    height: 100%;
    transition: all ease 0.5s;
}

.slider--item{
    height: inherit;
    width: 100vw;
}

.slider--width :nth-child(1){
    background-color: green;
}

.slider--width :nth-child(2){
    background-color: blue;
}

.slider--width :nth-child(3){
    background-color: orange;
}

.controls button{
    height: 50px;
    cursor: pointer;
}
