{{>partials/header}}

<form method="POST" action="/idade-resultado">
<input type="number" name="ano"><br>
<input type="submit" value="Enviar">
</form>

<hr>

{{#mostraridade}}
Vc tem {{idade}} anos.
{{/mostraridade}}

{{>partials/footer}}
