/*
	 media.css (CSS)
	 
	 Objetivo: Estudo sobre media queries em HTML5 e CSS3.
	 Ao encolher a largura da tela abaixo de 500px, o retângulo
	 vermelho muda de cor e de tamanho.

	 Versão 1.0
	 
	 Site: http://www.dirackslounge.online
	 
	 Programador: Rodolfo A. C. Neves (Dirack) 27/03/2019
	 
	 Email: rodolfo_profissional@hotmail.com
	 
	 Licença: Software de uso livre e código aberto.
*/

body{
	
	margin: 0px;
}

.teste{
	width: 500px;
	height: 500px;
	background-color: red;
}

/* media querie */
@media only screen and (max-width:600px){
	
	.teste{
		background-color: green;
		width: 300px;
	}
	
}
