/*
	 projeto.css (CSS)
	 
	 Objetivo: Site com flexbox e HTML Semântico.
	 Projeto do curso PHP profissional do básico ao avançado.
	 
	 Versão 1.0
	 
	 Site: http://www.dirackslounge.online
	 
	 Programador: Rodolfo A. C. Neves (Dirack) 27/04/2019
	 
	 Email: rodolfo_profissional@hotmail.com
	 
	 Licença: Software de uso livre e código aberto.
*/

