<h1>{{msg}}</h1>

<p style="width:50%">Your access token: {{token}}</p>

<form method="GET" action="/level">
	Token: <input type="text" name="token"><br>
	<input type="submit" value="Access">
</form>
