{{>partials/header}}

<h2>Qual ano você nasceu?</h2>
<form method="POST" action="/idade-resultado">
    <input type="number" name="ano" placeholder="Digite o ano de nascimento" /><br/>
    <input type="submit" value="Enviar" />
</form>

{{#mostrarIdade}}
    Você tem {{idade}} anos.
{{/mostrarIdade}}

{{>partials/footer}}